@import "../../constants";
@import "../../mixins";

.Trainings {
  padding: 10px;
  box-sizing: border-box;

  background-color: $color-primary-4;
}

.title {
  margin: 0;

  color: $color-secondary-a-1;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.menu {
  list-style: none;
}

.item {

}

.link {
  text-decoration: none;
  color: $color-secondary-a-0;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: $color-secondary-a-1;
  }

  &:active {
    color: $color-secondary-a-2;
  }
}