@import "../../constants";
@import "../../mixins";

.Trainings {
  padding: 10px;
  box-sizing: border-box;

  background-color: white;
}

.title {
  margin: 0;

  color: black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.menu {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  border-bottom: 1px solid $color-secondary-d;
}

.link {
  text-decoration: none;
  color: $color-secondary-0;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: $color-secondary-d;
  }

  &:focus {
    color: $color-secondary-d;
  }

  &:active {
    color: $color-secondary-l;
  }
}

.addTrainingButton {
  @include greenButton;
}

.delTrainingButton {
  @include redButton;
}