@import "../../constants";
@import "../../mixins";

.Training {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-sizing: border-box;

  color: black;
  background-color: white;
}

.done {
  color: black;
  background-color: white;
}

.button {
  @include redButton;

  align-self: center;
}

.buttonDone {
  @include greenButton;

  align-self: center;
}

.title {
  margin: 0;
  margin-bottom: 5px;
}