$color-primary-0: #00bcd4;	/* Основной Цвет */
$color-primary-d: #008ba3;
$color-primary-l: #62efff;

$color-secondary-0: #e91e63;	/* Вторичный Цвет */
$color-secondary-d: #b0003a;
$color-secondary-l: #ff6090;

$color-background-0: #9e9e9e;  /* Цвет фона */
$color-background-d: #707070;
$color-background-l: #cfcfcf;