@import "constants";

@mixin greenButton {
  padding: 5px 10px;
  box-sizing: border-box;

  color: black;
  border: 2px solid $color-primary-d;
  background-color: $color-background-l;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;

  &:hover {
    cursor: pointer;
    background-color: $color-background-0;
    box-shadow: 0 0 1px 0;
  }

  &:focus {
    background-color: $color-background-0;
    outline: 1px solid black;
    -moz-outline-radius: 4px;
  }

  &:active {
    color: white;
    background-color: $color-background-d;
  }
}

@mixin redButton {
  padding: 5px 10px;
  box-sizing: border-box;

  color: black;
  border: 2px solid $color-secondary-d;
  background-color: $color-background-l;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;

  &:hover {
    cursor: pointer;
    background-color: $color-background-0;
    box-shadow: 0 0 1px 0;
  }

  &:focus {
    color: white;
    background-color: $color-background-0;
    outline: 1px solid $color-secondary-l;
    -moz-outline-radius: 4px;
  }

  &:active {
    color: white;
    background-color: $color-background-d;
  }
}