@import "constants";

@mixin greenButton {
  padding: 5px 10px;
  box-sizing: border-box;

  color: $color-secondary-a-2;
  border: 1px solid $color-secondary-a-2;
  background-color: $color-secondary-a-4;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary-a-3;
    box-shadow: 0 0 1px 0;
  }

  &:focus {
    background-color: $color-secondary-a-3;
    outline: 1px solid $color-secondary-a-1;
    -moz-outline-radius: 3px;
  }
}

@mixin redButton {
  padding: 5px 10px;
  box-sizing: border-box;

  color: $color-secondary-b-2;
  border: 1px solid $color-secondary-b-2;
  background-color: $color-secondary-b-4;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary-b-3;
    box-shadow: 0 0 1px 0;
  }

  &:focus {
    background-color: $color-secondary-b-3;
    outline: 1px solid $color-secondary-b-1;
    -moz-outline-radius: 3px;
  }
}